$MessageNameColor: #333333;
$MessageDateColor: #999999;
$MessageCommentColor: #434a54;



.MainChat {
  width: calc(100vw - 300px);

  &__header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: #eeeeee;
    display: flex;
    justify-content: space-between;

    &__GroupInfo {
      margin-top: 35px;
      margin-left: 40px;
    }

    &__GroupName {
      font-size: 20px;
      color: #333333;
    }

    &__GroupMember {
      font-size: 12px;
      color: #999999;
    }

    &__EditBtn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid;
      border-width:thin;
      color: #38aef0;
      width: 72px;
      margin-right: 40px;
    }


  }
  &__MessageList {
    background-color: #fafafa;
    height: calc(100% - 100px - 90px);

    &__NewMessage1 {
      padding: 46px 40px;

      &__name {
        color: $MessageNameColor;
        font-size: 16px;
        float: left;
        margin-right: 10px;
      }

      &__date {
        color: $MessageDateColor;
        font-size: 12px;     
      }

      &__comment {
        color: $MessageCommentColor;
        font-size: 14px;
        clear: both;
      }
      
    }

    &__NewMessage2 {
      padding: 46px 40px;

      &__name {
        color: $MessageNameColor;
        font-size: 16px;
        float: left;
        margin-right: 10px;
      }

      &__date {
        color: $MessageDateColor;
        font-size: 12px;     
      }

      &__comment {
        color: $MessageCommentColor;
        font-size: 14px;
        clear: both;
      }
    }

  }

  &__MessageForm {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px
  }

  .NewMessage {
    display: flex;
  }

  .InputBox {
    width: 100%;
    display: flex;
    position: relative;

    &__text {
      height: 50px;
      width: 100%;
      color: #434a54;
      border-style: none;
      padding: 0 40px 0 10px;
    }

    &__image {
      font-size: 1.3rem;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    
      
      &__file {
        display: none;

      }
    }
  }

  .SubmitBtn {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color:#ffffff;
    cursor: pointer;
  }
  
}